[Unit]
Description=Node.js Application Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{ project_dir }}

Environment="NEW_RELIC_LICENSE_KEY={{ new_relic_license_key }}"
Environment="NODE_ENV=production"

ExecStart=/usr/bin/node {{ project_dir }}/server.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

