[Unit]
Description=Uvicorn instance for FastAPI app
After=network.target

[Service]
Type=simple
User=posix4e
Group=posix4e
WorkingDirectory={{ project_dir }}

# Set environment variables (use quotes for safety)
Environment="NEW_RELIC_LICENSE_KEY={{ new_relic_license_key }}"

ExecStart={{ project_dir }}/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=on-failure

[Install]
WantedBy=multi-user.target

